{
  "plugins": [
    ["@babel/plugin-transform-modules-commonjs"],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "models": "./models",
        "model": "./models",
        "logs": "./logs",
        "log": "./logs",
        "routers": "./routers",
        "router": "./routers",
        "config": "./config",
        "utils": "./utils",
        "util": "./utils",
        "db": "./db"
      }
    }]
  ]
}