{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "models": "./models",
        "logs": "./logs",
        "routes": "./routes",
        "config": "./config",
      }
    }]
  ]
}