{
  "plugins": [
    ["@babel/plugin-transform-modules-commonjs"],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "models": "./models",
        "logs": "./logs",
        "routes": "./routes",
        "config": "./config",
        "utils": "./utils",
      }
    }]
  ]
}